@font-face {
    font-family: Mukta;
    src: url(Mukta-Bold.ttf);
}

@font-face {
    font-family: MuktaMedium;
    src: url(Mukta-Medium.ttf);
}

@font-face {
    font-family: MuktaLight;
    src: url(Mukta-Light.ttf);
}

:root{
    --primary-bg: #D6D7D7;
    --secondary-bg: #DDDCDC;
    --cta-bg: #EC5F2A;
    --text-primary: #333;
    --text-secondary: #898889;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100vw;
    font-family: MuktaLight;
    font-size: 16px;
    background-color: white;
}

/* Headings */
h1,h2,h3,h4,h5,h6{
    margin-bottom: 1rem;
    line-height: 1.2;
    font-family: Mukta;
}

h1{
    font-size: 3.6rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.4rem;
}

h4{
    font-size: 2rem;
}

h5{
    font-size: 1.6rem;
}

h6{
    font-size: 1.2rem;
}

/* paragraphs */
p{
    margin-bottom: 1.6rem;
    font-size: 1rem;
    line-height: 1.4rem;
    font-family: MuktaLight;
}

/* links */
a{
    color: #007bff;
    text-decoration: none;
}

/* lists */
ul, ol{
    margin: 1.5rem 0;
    padding: 2rem;
}

li{
    margin-bottom: .5rem;
}

/* images */
img{
    max-width: 100%;
    height: auto;
}

.aside-nav{
    position: fixed;
    right: 1vw;
    top: 40%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5vh;
    padding: 1.5vh 1vh;
    background-color: var(--cta-bg);
    border-radius: 30px;
}

.aside-nav a {
    color: #000;
    cursor: pointer;
    font-size: 1.3vw;
}

.dotted-line{
    height: 2vh;
    border: 1px dotted;
}